.project
Tcl/.buildpath
Tcl/.project

!Code/ThirdParty/vmtk/.project
!Code/Source/ImageProcessing/.project
!Code/Source/PostProcessing/.project
!Code/Source/Segementation/ITK/ITKCode/.project
!Code/Source/Segementation/ITK/Include/.project
!Code/Source/Segementation/ITK/Util/.project
!Code/Source/Segementation/ITK/.project
!Code/Source/Segementation/cvLevelSet/.project
!Code/Source/Segementation/.project
Code/Source/.cproject
