Code/SV3
Code/svSolver
Code/Licensed/ParasolidSolidModel
.project
Tcl/.buildpath
Tcl/.project
Code/FlowSolvers/.cproject
*/CMakeLists.txt.user
*DS_Store

!Code/ThirdParty/vmtk/.project
!Code/Source/ImageProcessing/.project
!Code/Source/PostProcessing/.project
Code/Source/.cproject
!Code/Source/Segmentation/ITK/ITKCode/.project
!Code/Source/Segmentation/ITK/Include/.project
!Code/Source/Segmentation/ITK/Util/.project
!Code/Source/Segmentation/ITK/.project
!Code/Source/Segmentation/cvLevelSet/.project
!Code/Source/Segmentation/.project
!BuildWithMake/Release/tmp/.project
!BuildWithMake/Lib/.project
!BuildWithMake/Bin/.project
!Code/FlowSolvers/ThreeDSolver/dummyMPI/.project
!BuildWithMake/CygwinHelpers/.project
!Tcl/External/xf-4.3/old_notes/.project
!Tcl/External/xf-4.3/src/.project
!Tcl/External/xf-4.3/Help/.project
!Tcl/External/xf-4.3/additionals/.project
!Tcl/External/xf-4.3/xfappdef/.project
!Tcl/External/xf-4.3/templates/Combined/.project
!Tcl/External/xf-4.3/templates/Widgets/.project
!Tcl/External/xf-4.3/templates/StanfordWidgets/.project
!Tcl/External/xf-4.3/templates/Procedures/.project
!Tcl/External/xf-4.3/templates/.project
!Tcl/External/xf-4.3/xftutorial/script.xf/.project
!Tcl/External/xf-4.3/xftutorial/script.xfjp/.project
!Tcl/External/xf-4.3/xftutorial/.project
!Tcl/External/xf-4.3/lib/icons/.project
!Tcl/External/xf-4.3/lib/.project
!Tcl/External/xf-4.3/xfhardcopy/.project
!Tcl/External/xf-4.3/procedures/.project
!Tcl/External/xf-4.3/elements/.project
!Tcl/External/xf-4.3/old/.project
!Tcl/External/xf-4.3/.project
!Code/ThirdParty/msmpi/License/.project
!Code/ThirdParty/msmpi/Include/x64/.project
!Code/ThirdParty/msmpi/Include/x86/.project
!Code/ThirdParty/msmpi/Include/.project
!Code/ThirdParty/msmpi/Lib/x64/.project
!Code/ThirdParty/msmpi/Lib/x86/.project
!Code/ThirdParty/msmpi/Lib/.project
!Code/ThirdParty/msmpi/.project
!Code/ThirdParty/msmpi/Installers/.project
!BuildWithMake/Release/windows_installer_packages/.project
