<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.segmentation2d"
          name="SV 2D Segmentation"
          class="svSeg2DEdit"
          icon="resources/contourgroup.png" />
    <view id="org.sv.views.segmentation3d"
          name="SV 3D Segmentation"
          class="svSeg3DEdit"
          icon="resources/svseg3d.png" />

  </extension>

  <extension point="org.sv.gui.qt.datamanager.contextMenuActions">
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Create Contour Group" icon="" class="svContourGroupCreateAction" />
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Create 3D Segmentation" icon="" class="svSeg3DCreateAction" />
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Import Segmentations" icon="" class="svSegmentationLoadAction" />
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Import Legacy Segmentations" icon="" class="svSegmentationLegacyLoadAction" />
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Export All as Legacy Segmentations" icon="" class="svSegmentationLegacySaveAction" />
      <contextMenuAction nodeDescriptorName="svContourGroup" label="Point 2D Size" icon="" class="svContourGroupPoint2DSizeAction" />
      <contextMenuAction nodeDescriptorName="svContourGroup" label="Point 3D Size" icon="" class="svContourGroupPoint3DSizeAction" />
  </extension>

</plugin>
