<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.modeling"
          name="SV Modeling"
          class="svModelEdit"
          icon="resources/model.png" />
  </extension>

  <extension point="org.sv.gui.qt.datamanager.contextMenuActions">
      <contextMenuAction nodeDescriptorName="svModelFolder" label="Create Model" icon="" class="svModelCreateAction" />
      <contextMenuAction nodeDescriptorName="svModelFolder" label="Import Solid Model" icon="" class="svModelLoadAction" />
      <contextMenuAction nodeDescriptorName="svModel" label="Export Solid Model" icon="" class="svModelLegacySaveAction" />
      <contextMenuAction nodeDescriptorName="svModel" label="Export Cap Info" icon="" class="svModelFaceInfoExportAction" />
      <contextMenuAction nodeDescriptorName="svModel" label="Extract Paths" icon="" class="svModelExtractPathsAction" />
    </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.sv.gui.qt.LoftingPreferencePage" name="SimVascular Lofting" class="svLoftingPreferencePage">
      <keywordreference id="org.sv.gui.qt.LoftingPreferencePageKeywords"></keywordreference>
    </page>
  </extension>


</plugin>
