<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.segmentation2d"
          name="SV 2D Segmentation"
          class="sv4guiSeg2DEdit"
          icon="resources/contourgroup.png" />
    <!--<view id="org.sv.views.segmentation3d"
          name="SV 3D Segmentation"
          class="sv4guiSeg3DEdit"
          icon="resources/svseg3d.png" />-->

  </extension>

  <extension point="org.sv.gui.qt.datamanager.contextMenuActions">
      <contextMenuAction nodeDescriptorName="sv4guiSegmentationFolder" label="Create Contour Group" icon="" class="sv4guiContourGroupCreateAction" />
      <!--<contextMenuAction nodeDescriptorName="sv4guiSegmentationFolder" label="Create 3D Segmentation" icon="" class="sv4guiSeg3DCreateAction" />-->
      <contextMenuAction nodeDescriptorName="sv4guiSegmentationFolder" label="Import Segmentations" icon="" class="sv4guiSegmentationLoadAction" />
      <contextMenuAction nodeDescriptorName="sv4guiSegmentationFolder" label="Import Legacy Segmentations" icon="" class="sv4guiSegmentationLegacyLoadAction" />
      <contextMenuAction nodeDescriptorName="sv4guiSegmentationFolder" label="Export All as Legacy Segmentations" icon="" class="sv4guiSegmentationLegacySaveAction" />
      <contextMenuAction nodeDescriptorName="sv4guiContourGroup" label="Point 2D Size" icon="" class="sv4guiContourGroupPoint2DSizeAction" />
      <contextMenuAction nodeDescriptorName="sv4guiContourGroup" label="Point 3D Size" icon="" class="sv4guiContourGroupPoint3DSizeAction" />
  </extension>

</plugin>
