<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.pathplanning"
          name="SV Path Planning"
          class="svPathEdit"
          icon="resources/pathedit.png" />
  </extension>

  <extension point="org.sv.gui.qt.datamanager.contextMenuActions">
      <contextMenuAction nodeDescriptorName="svPathFolder" label="Create Path" icon="" class="svPathCreateAction" />
      <contextMenuAction nodeDescriptorName="svPathFolder" label="Import Paths" icon="" class="svPathLoadAction" />
      <contextMenuAction nodeDescriptorName="svPathFolder" label="Export All as Legacy Paths" icon="" class="svPathLegacySaveAction" />
      <contextMenuAction nodeDescriptorName="svPath" label="Point 2D Size" icon="" class="svPathPoint2DSizeAction" />
      <contextMenuAction nodeDescriptorName="svPath" label="Point 3D Size" icon="" class="svPathPoint3DSizeAction" />
  </extension>

</plugin>
