<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.simulation1d"
          name="SV 1D Simulation"
          class="sv4guiSimulationView1d"
          icon="resources/simulation1d.png" />
  </extension>

  <extension point="org.sv.gui.qt.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="sv4guiSimulation1dFolder" label="Create 1D Simulation Job" icon="" class="sv4guiSimJobCreateAction1d" />
    <contextMenuAction nodeDescriptorName="sv4guiMitkSimJob1d" label="Stop Simulation" icon="" class="sv4guiSimJobStopAction1d" />
    <contextMenuAction nodeDescriptorName="sv4guiMitkSimJob1d" label="Export Data Files" icon="" class="sv4guiSimJobExportAction1d" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.sv.gui.qt.SimulationPreferencePage1d" name="SimVascular 1D Simulation" class="sv4guiSimulationPreferencePage1d">
      <keywordreference id="org.sv.gui.qt.SimulationPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

</plugin>
