<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.svfsi"
          name="SV FSI"
          class="sv4guisvFSIView"
          icon="resources/svFSI.png" />
  </extension>

 <extension point="org.sv.gui.qt.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="sv4guisvFSIFolder" label="Create svFSI Job" icon="" class="sv4guisvFSIJobCreateAction" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.sv.gui.qt.sv4guisvFSIPreferencePage" name="svFSI Simulation" class="sv4guisvFSIPreferencePage">
      <keywordreference id="org.sv.gui.qt.sv4guisvFSIPreferencePageKeywords"></keywordreference>
<!--  <extension point="org.sv.gui.qt.datamanager.contextMenuActions">
    <page id="org.svsv.gui.qt.datamanager.contextMenuActions" name="sv4guisvFSI Simulation" class="sv4guisvFSIPreferencePage">
      <keywordreference id="org.sv.gui.qt.sv.gui.qt.datamanager.contextMenuActions"></keywordreference>-->
    </page>
  </extension>

</plugin>
