<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.simulation"
          name="SV Simulation"
          class="svSimulationView"
          icon="resources/simulation.png" />
  </extension>

  <extension point="org.mitk.gui.qt.datamanager.contextMenuActions">
  <contextMenuAction nodeDescriptorName="svSimulationFolder" label="Create Simulation Job" icon="" class="svSimJobCreateAction" />
<!--  <contextMenuAction nodeDescriptorName="svMitkSimJob" label="Export Job Data Files" icon="" class="svSimJobExportAction" />-->
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.sv.gui.qt.SimulationPreferencePage" name="SimVascular Simulation" class="svSimulationPreferencePage">
      <keywordreference id="org.sv.gui.qt.SimulationPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

</plugin>
