<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.imageprocessing"
          name="Level Set"
          class="sv4guiImageProcessing"
          icon="resources/image_processing.png" />
  </extension>

  <extension point="org.mitk.gui.qt.datamanager.contextMenuActions">
      <contextMenuAction nodeDescriptorName="sv4guiImageProcessing" label="Image Processing
         Context Menu" icon="" class="sv4guiImageProcessing"/>
  </extension>

</plugin>
