<?xml version="1.0" encoding="UTF-8"?>

<plugin>

<extension point="sv.views">

  <category name="File">

    <view id="sv.generalinit"
      name="General Init"
      class="svGeneralInit"
      icon=""
      type="init"
      location=""
      in_menu="no"
      in_toolbar="no"
      life="short">
    <description>SV Prject Init</description>
    </view>

    <view id="sv.projectcreate"
      name="New Project"
      class="svProjectCreate"
      icon="projectcreate.png"
      type="gui"
      location="popup"
      in_menu="yes"
      in_toolbar="no"
      life="short">
      <description></description>
    </view>
    <view id="sv.projectopen"
      name="Open Project"
      class="svProjectOpen"
      icon="OpenProject.png"
      type="exec"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>
    <view id="sv.projectsaveall"
      name="Save All Projects"
      class="svProjectSaveAll"
      icon="Save.png"
      type="exec"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>
    <view
      type="menu_separator">
    </view>
    <view id="sv.openfile"
      name="Open Files"
      class="svOpenFile"
      icon="Open.png"
      type="exec"
      in_menu="yes"
      in_toolbar="no"
      life="short">
      <description></description>
    </view>
    <view id="sv.savescene"
      name="Save MITK Scene"
      class="svSaveScene"
      icon="SaveScene.png"
      type="exec"
      in_menu="yes"
      in_toolbar="no"
      life="short">
      <description></description>
    </view>
    <view id="sv.closeall"
      name="Close All Data"
      class="svCloseAll"
      icon="CloseAll.xpm"
      type="exec"
      in_menu="yes"
      in_toolbar="no"
      life="short">
      <description></description>
    </view>
    <view
      type="menu_separator">
    </view>
    <view id="sv.exit"
      name="Exit"
      class="svExit"
      icon="Exit.png"
      type="exec"
      in_menu="yes"
      in_toolbar="no"
      life="short">
      <description></description>
    </view>

  </category>

  <category name="Edit">
    <view id="sv.undo"
      name="Undo"
      class="svUndo"
      icon="undo.png"
      type="exec"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>

    <view
      type="menu_separator">
    </view>

    <view id="sv.redo"
      name="Redo"
      class="svRedo"
      icon="redo.png"
      type="exec"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>
  </category>

  <category name="Image">
    <view id="mitk.basicimageprocessing"
      name="Basic Image Processing"
      class="QmitkBasicImageProcessingView"
      icon="ImageProcessing.xpm"
      location="left"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short"
      accompanying_id="">
      <description>Basic Image Processing</description>
    </view>
    <view id="mitk.volumevisualization"
      name="Volume Visualization"
      class="QmitkVolumeVisualizationView" 
      icon="volumerendering.png"
      location="left"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description>Image Volume Visualization</description>
   </view>
  </category>
  <category name="Paths">
    <view id="sv.pathcreate"
      name="Create Path"
      class="svPathCreate" 
      icon="pathcreate.png"
      location="popup"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description>Create a New Path</description> 
    </view>
    <view id="sv.pathedit"
      name="Edit Path"
      class="svPathEdit" 
      icon="pathedit.png"
      location="left"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description>Edit a Path</description>
    </view>
  </category>
  <category name="Segmentation">

    <view id="sv.contourgroupcreate"
      name="Create Contour Group"
      class="svContourGroupCreate"
      icon="contourgroupcreate.png"
      location="popup"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description>Create a New Contour Group</description>
    </view>
    <view id="sv.segmentation2d"
      name="2D Segmentation"
      class="svSegmentation2D"
      icon="segmentation.png"
      location="left"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>

    <view id="mitk.segmentation"
      name="Image Binary Segmentation"
      class="QmitkSegmentationView"
      icon="segmentation_mitk.png"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>
    <view id="mitk.createpolygonmodel"
      name="Create Polygon Model"
      class="QmitkCreatePolygonModel"
      icon="xxx.png"
      type="exec"
      in_menu="no"
      in_toolbar="no"
      life="short">
      <description></description>
    </view>
    <view id="mitk.autocrop"
      name="Autocrop"
      class="QmitkAutocrop"
      icon="xxx.png"
      type="exec"
      in_menu="no"
      in_toolbar="no"
      life="short">
      <description></description>
    </view>
  </category>
  <category name="Model">
    <view id="sv.modelcreate"
      name="Create Model"
      class="svModelCreate"
      icon="modelcreate.png"
      location="popup"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>
    <view id="sv.modeledit"
      name="Edit Model"
      class="svModelEdit"
      icon="model.png"
      location="left"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>

  </category>
  <category name="Mesh">
    <view id="sv.mesh"
      name="Create Mesh"
      class="svTest"
      icon="mesh.png"
      location="left"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>
  </category>
  <category name="Simulation">
    <view id="sv.simulation"
      name="Create Job"
      class="svTest"
      icon="simulation.png"
      location="left"
      type="gui"
      in_menu="yes"
      in_toolbar="yes"
      life="short">
      <description></description>
    </view>
  </category>
</extension>

<extension point="sv.preferences">
    <page id="sv.volumerenderingpreference"
      name="Volume Rendering"
      class="xxx">
    </page>
    <page id="sv.volumerenderingpreference_sub"
      name="Volume Rendering Sub"
      class="xxx"
      category="sv.volumerenderingpreference">
    </page>
 </extension>

</plugin>

